:host {
    display: block;
    height: 100%;
}

.center-area {
    border: thin dashed red;
    padding: 10px;
    font-size: larger;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    margin: 1rem 0;
    min-height:100%;
    height: 100%;
}